.page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin: 0 auto;
  flex: 1;
}

article {
  display: flex;
  flex-direction: column;
}

.navmenu {
  background-color: rgb(1, 2, 25);
  display: flex;
  flex-direction: column;
}

footer {
  min-height: 4rem;
  background-color: rgb(1, 2, 25);
  color: white;
}
