@page "/convert"
@using DT191G_Mom1_2.Components

@* Mathilda Eriksson DT191G *@

<PageTitle>Konvertering</PageTitle>

<h1>Konvertering</h1>

<div class="p-4 mb-4 card">
    <h2>Konvertera meter till fot</h2>
    <label for="meter">Meter:</label>
    <input type="number" class="form-control" @bind="meter" id="meter" />
    <p class="pt-4">Antal fot: @feet</p>
    <button @onclick="convertMeterToFoot" class="btn btn-primary">Konvertera</button>
</div>

<div class="p-4 card">
    <h2>Konvertera km/h till miles/hour</h2>
    <label for="kmh">Km/h:</label>
    <input type="number" class="form-control" @bind="kmh" id="kmh" />
    <p class="pt-4">Miles/h: @mph</p>
    <button @onclick="convertKmhToMph" class="btn btn-primary">Konvertera</button>
</div>

<PokemonFact />

@code {
    private float meter;
    private float feet;
    private float kmh;
    private float mph;

    private void convertMeterToFoot()
    {
        // 1 meter is about 3.28084 feet
        feet = meter * 3.28084f;
        // Round the result to 2 decimal places
        feet = (float)Math.Round(feet, 2);
    }

    private void convertKmhToMph()
    {
        // 1 km/h is about 0.621371 miles/h
        float milesPerHour = kmh * 0.621371f;
        // Round the result to the nearest whole number
        mph = (int)Math.Round(milesPerHour);

    }
}
