@page "/"
@using DT191G_Mom1_2.Components

@* Mathilda Eriksson DT191G *@

<PageTitle>Start</PageTitle>

<h1>Välkommen!</h1>

<p>Detta är en webbplats för moment 1.2 i kursen DT191G - Webbutveckling med .NET.</p>

<PokemonFact />
